/* Контейнер календаря */
.custom-calendar {
    width: 350px;
    border: none !important;
    background: #f9fafb !important; /* як Card */
    border-radius: 20px !important;
    padding: 20px !important;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1) !important;
    font-family: sans-serif;
}

/* Верхня панель (місяць) */
.custom-calendar .react-calendar__navigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.custom-calendar .react-calendar__navigation button {
    background: transparent;
    border: none;
    padding: 8px 12px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
    font-weight: 600;
    color: #374151;
}

.custom-calendar .react-calendar__navigation button:hover {
    background-color: #e5e7eb;
}

/* Дні тижня (пн-вс) */
.custom-calendar .react-calendar__month-view__weekdays__weekday {
    color: #6b7280;
    font-weight: 500;
    padding: 8px;
}

/* Кожен день */
.custom-calendar .react-calendar__tile {
    padding: 12px 0 !important;
    border-radius: 12px;
    font-size: 14px;
    transition: 0.2s;
    color: #374151;
}

/* Ховер */
.custom-calendar .react-calendar__tile:hover {
    background: #e5e7eb !important;
}

/* Виділене число */
.custom-calendar .react-calendar__tile--active {
    background: #4f46e5 !important;
    color: white !important;
    font-weight: 600;
}

/* Сьогодні */
.custom-calendar .react-calendar__tile--now {
    border: 2px solid #4f46e5 !important;
    border-radius: 12px;
    background: white !important;
}

/* Вихідні */
.custom-calendar .react-calendar__month-view__days__day--weekend {
    color: #dc2626;
}
